<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_footer.css">
</head>

<body>
    <div class="section">
        <div class="imagem1">
            <img src="../images/logo_bfk.JPG" alt="logo Bia Fashion Kids">
        </div>
        <div class="texto1">
            <h3>Venha nos fazer uma visita!</h3>
            <p>Rua Laura Auler, 164
                <br>
                Joinville
                <br><br> biafashionkids@gmail.com
            </p>
        </div>
        <div class="texto2">
            <h3>Nos Contate!</h3>
            <p>Brasil
                <br><br>
                +55 (47) 3017 - 4337
            </p>
        </div>
         <div class="texto3">
            <h3>Companhia</h3>
            <p>Sobre Nós
                <br><br>
                Linha do Tempo
                <br><br>
                Marcas 
                <br><br>
                Idealizadores
            </p>
        </div>
        <div class="texto4">
            <h3>Detalhes</h3>
            <p>Promos
                <br><br>
                Feminino
                <br><br>
                Masculino
                <br><br>
                Quentinhos
                <br><br>
                Fresquinhos
                <br><br>
                Acessórios
                <br><br>
                Marcas
            </p>
        </div>
    </div>

</body>

</html>