<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_footer.css">
</head>

<body>
    <div class="section">
        <div class="imagem1">
            <img src="../images/logo_bfk.JPG" alt="logo Bia Fashion Kids">
        </div>
        <div class="texto1">
            <h3>Venha nos fazer uma visita!</h3>
            <p>Rua Laura Auler, 164
                <br>
                Joinville
                <br><br> biafashionkids@gmail.com
            </p>
        </div>
        <div class="texto2">
            <p>aa</p>
        </div>
    </div>

</body>

</html>