<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/templates/style_header.css">
    <title>Document</title>
</head>

<body>
    <!--Parte de cima contendo novidades/promoções-->
    <div class="top-bar">
        <div class="container">
            <p>Aceitamos pagamento via <i class="fa-brands fa-pix"></i> pix | Compre parcelado e sem juros!</p>
        </div>
    </div>
    <!--Parte do Header do site // Fixo!-->
    <header class="main-header">
        <div class="container">
            <div class="header-content">
                <!--Logo da loja-->
                <div class="logo">
                    <a href="">
                        <img src="../images/logo_bfk.JPG">
                    </a>
                </div>

                <!--Seções-->
                <div class="sections-content">
                    <ul>
                        <li><a href=""></a>promos</li>
                        <li><a href=""></a>feminino</li>
                        <li><a href=""></a>masculino</li>
                        <li><a href=""></a>quentinhos</li>
                        <li><a href=""></a>fresquinhos</li>
                        <li><a href=""></a>acessórios</li>
                        <li><a href=""></a>marcas</li>
                    </ul>
                </div>

                <!--Seção de pesquisa-->
                <div class="search-container">
                    <input type="text" placeholder="Digite o que você procura" class="search-input"
                        style="placeholder {color: black;}">
                </div>

                <div class="sections-content-end">
                    <ul>
                        <li><a href=""></a>entrar</li>
                    </ul>
                </div>
                
                <div class="header-actions">
                    <i class="fa fa-cloud"></i>
                </div>

            </div>
        </div>
    </header>
</body>

</html>