h1{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(236, 162, 179) ;
    text-align: center;
}

.fotos{
    background-color: rgb(236, 162, 179);
    width: 400px;
    height: 400px;
    border-radius: 18px;
}
.fotos1{
    background-color: #6cd1f0;
    width: 800px;
    height: 400px;
    border-radius: 18px;
}
.fotos2{
    background-color: rgb(236, 162, 179);
    width: 400px;
    height: 400px;
    border-radius: 18px;
    margin-left: 820px;
    margin-top: -15px;
   
}
.fotos3{
    background-color: #6cd1f0;
    width: 400px;
    height: 800px;
    border-radius: 18px;
    margin-left: 1250px;
    position: relative;
    bottom: 795px;
   
}
.fotos4{
    background-color: #6cd1f0;
    width: 800px;
    height: 400px;
    border-radius: 18px;
    margin-left: 425px;
    position: relative;
    bottom: 1612px;
   
}
.fotos5{
    background-color: rgb(236, 162, 179);
    width: 400px;
    height: 800px;
    border-radius: 18px;
 margin-left: 1690px;
    position: relative;
    bottom: 1999px;
   
}
